{% extends'base.html.twig' %}

{% block title %}
	Maso-Numérique MN - Accueil
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur le site Maso-Numérique MN</h1>
			<p class="lead">Le site qui te fait du mal à coup de code ... mais tu aimes ça !!!!</p>
			<hr class="my-4">
			<img src="https://image.spreadshirtmedia.com/image-server/v1/mp/products/T993A1PA2168PT10X66Y36D1018432366W11251H13502/views/1,width=550,height=550,appearanceId=1,backgroundColor=F2F2F2,modelId=4376,crop=list/naughty-girls-bdsm-sadomaso-fille-lesbienne-dom-sous-tapis-de-souris.jpg" class="rounded mx-auto d-block" alt="...">
			<hr class="my-4">
			<div class="articlesPublics mt-4">
				<h2 class="mt-4">
					Les derniers articles</h2>
				<div class="d-flex justify-content-around mt-5 flex-wrap">
					{% for article in articles %}
						<div class="card border-info mb-3 mr-3" style="max-width: 20rem;">
							<div class="card-header">auteur
								{{article.auteur}}</div>
							<div class="card-body">
								<h4 class="card-title">{{article.title}}</h4>
								{# limité le nb de caractères et mettre ... grace au filte slice #}
								<p class="card-text">{{article.content | slice (0, 100) ~ '...' }}</p>
								<h6 class="card-title">
									Edité le :
									{{article.createdAt|date('d/m/Y')}}</h6>
							</div>
							<div>
								<a href="{{ path('articles.show', { id: article.id}) }}" class="btn btn-info">voir</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<hr class="my-4">
			<div class="articlesPublics mt-4">
				<h2 class="mt-4">
					Les derniers cours</h2>
				<div class="d-flex justify-content-around mt-5 flex-wrap">
					{% for article in articles %}
						<div class="card border-info mb-3 mr-3" style="max-width: 20rem;">
							<div class="card-header">auteur
								{{article.auteur}}</div>
							<div class="card-body">
								<h4 class="card-title">{{article.title}}</h4>
								{# limité le nb de caractères et mettre ... grace au filte slice #}
								<p class="card-text">{{article.content | slice (0, 100) ~ '...' }}</p>
								<h6 class="card-title">
									Edité le :
									{{article.createdAt|date('d/m/Y')}}</h6>
							</div>
							<div>
								<a href="{{ path('articles.show', { id: article.id}) }}" class="btn btn-info">voir</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
