{% extends 'base.html.twig' %}

{% block title %}Maso-Numérique  -Cours publics
{% endblock %}

{% block body %}
	<div class="container mt-4">


		<h1>
			Cours publics</h1>

		{# vatiable pour indiquer le nombre d'Cour #}
		<div class="count mt-4">
			Il y a
			{{ cours.getTotalItemCount }}
			cours.
		</div>
		<div class="d-flex justify-content-around mt-5 flex-wrap">
			{% for cour in cours %}
				<div class="card border-info mb-3 mr-3" style="max-width: 20rem;">
					<div class="card-header">auteur
						{{cour.author}}
					</div>
					<div class="card-body">
						<h4 class="card-title">{{cour.title}}</h4>
						{# limité le nb de caractères et mettre ... grace au filte slice #}
						<p class="card-text">{{cour.content | slice (0, 100) ~ '...' }}</p>
						<h6 class="card-title">
							Edité le :
							{{cour.createdAt|date('d/m/Y')}}
						</h6>
					</div>
					<div>
						<a href="{{ path('cours.show', { id: cour.id}) }}" class="btn btn-success">voir</a>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="navigation"></div>
		{# pagination #}
		<div class="navigation-info mt-4">
			{{ knp_pagination_render(cours) }}
		</div>
	</div>
{% endblock %}
