{% extends 'base.html.twig' %}


{% block body %}
<div class="container mt-4">

<h1 class="mt-4"> Un truc ne va pas ? Modofie le cours.</h1>
<h4 class="mt-4"> Attention il doit-être accessible à tous ... même ton grand-père doit le comprendre.</h4>
  <hr class="my-4">
 
<img src="https://i0.wp.com/i.skyrock.net/4047/85394047/pics/3122226821_1_3_3Dlik8GO.jpg?resize=322%2C460&ssl=1" class="rounded mx-auto d-block" alt="...">  <hr class="my-4">
{# {{ form(form) }} #}
{{ form_start(form)}}

<div class="form-group">
{{ form_label(form.title) }}
{{ form_widget(form.title) }}
<div class="form-error alert-dismissible alert-danger">
{{ form_errors(form.title) }}
</div>
</div>
<div class="form-group">
{{ form_label(form.content) }}
{{ form_widget(form.content) }}
<div class="form-error alert-dismissible alert-danger">
{{ form_errors(form.content) }}
</div>
</div>
<div class="form-group">
{{ form_label(form.author) }}
{{ form_widget(form.author) }}
</div>
<div class="form-group">
{{ form_row(form.submit) }}
</div>
</div>
{{ form_end(form)}}
{% endblock  %}