{% extends 'base.html.twig' %}

{% block title %}
	Maso-Numérique  -
	{{ cours.title}}
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
				<div class='alert alert-danger mt-4'>
					{{message}}
				</div>
			{% endfor %}
			
		<h1 class="mt-4 text-center">{{ cours.title}}</h1>
		<div class="cours__image text-center mt-4">
			<img style="max-width: 500px; " src="{{ vich_uploader_asset(cours, 'imageFile') }}">
		</div>

		<p class="mt-4">
			Cet cours à une note de
			{{cours.moyenne |round(1, 'floor')}}
			/5</p>
		<p class="mt-4">
			{{cours.content}}</p>
		<p class="mt-4">
			Auteur :
			{{ cours.author}}</p>
		<p class="mt-4">Edité le :
			{{cours.createdAt|date('d/m/Y')}}</p>
		{# {% if cours.updatedAt %}
			<p class="mt-4">Modifié le :
				{{cours.updatedAt|date('d/m/Y')}}</p>

		{% else %} #}
			<p></p>
		{# {% endif %} #}
		<div class='moyenne'>
		{{form(form)}}
		</div>
	</div>
	
	{% endblock %}
